{% extends 'base.html'%}
{% load static %}
{% block 'scripts'%}
    <link rel="stylesheet" href="{% static 'css/home.css'%}"/>
{% endblock %}

{% block 'title'%}
    Home | Embrace The Animal
{% endblock %}

{% block 'add_new_pet' %}
    {% if logged_in %}
        <a class="nav-link" href="{% url 'add_new_pet'%}"> Add New <span class="sr-only">(current)</span></a>
    {% endif %}
{% endblock %}

{% block 'log_out' %}
    {% if logged_in %}
        <a class="nav-link" style="color: white;" href="{% url 'sign_out'%}"> Log out </a>
    {% else %}
        <a class="nav-link" style="color: white;" href="{% url 'sign_in'%}"> Sign in </a>
    {% endif %}
{% endblock %}

{% block 'body' %}
    <div class="pet-main-container">
        {% for pet in pets %}
            <div class="pet-container" onclick="goToPetDetails(event, {{pet.id}})">
                <div class="pet-shade">
                </div>
                <div class="pet-information">
                    <h3>
                        {{ pet.name }}
                    </h1>
                    <h5>
                        {{ pet.breed }} · {{ pet.age }} Year
                    </h3>
                </div>
                {% if pet.profile_pic %}
                    <img src="{{ pet.profile_pic.url }}" style="height: 100%;"/>
                {% endif %}
            </div>
        {% endfor %}
        
    </div>
    <script>
        function goToPetDetails(event, id) {
            location.href="adoptions/pet-detail/"+id;
        }
    </script>
{% endblock %}